.title
  = t(:ffcrm_mailchimp_settings, default: "Mailchimp Integration Settings")

.remote
  .section

    = form_tag 'ffcrm_mailchimp', method: 'put' do

      %p

      Please enter the API key from your mailchimp account.
      %br/
      .label.top.req
        Api key:
        = text_field_tag 'api_key', @config.api_key, size: 30, required: true

      %br
      .label.top.req
        Default user:
        - user_options = options_from_collection_for_select(all_users, 'id', 'full_name', @config.user_id)
        = select_tag('user_id', options_for_select(user_options), :class => 'chzn-select', :style => "width:160px")
      %br
        This is the default user for actions that occur via webhooks.
        Not all webhooks provide 'user' information, in those cases, this user will own the operation.
        It is recommended you create a Fat Free CRM user purely for this purpose.

      %br
      = check_box_tag('iron_mq', 'true', !@config.iron_mq.nil?)
      %label.label.top{ for: 'iron_mq' }
        Use Iron MQ for inbound requests?

      %br
      = check_box_tag('verbose', 'true', @config.verbose == true)
      %label.label.top{ for: 'verbose' }
        Turn on verbose logging?

      %p
      = submit_tag 'Save', name: 'update', style: "width:60px"


%p
  Add the following URL to each list webhook in Mailchimp that you want to keep in sync:
  - url = "#{root_url}endpoints/mailchimp_endpoint"
  = link_to url, url

%p
  = button_to "Reload caches", { action: "reload_cache" }, method: 'put', data: { confirm: "Are you sure you wish to reload the caches?" }
  Clear and reload the mailchimp list and group cache

%p
  = button_to "Update data from Mailchimp", { action: "refresh_from_mailchimp" }, method: 'put', data: { confirm: "Are you sure you wish to refresh data from mailchimp?" }
  Refresh data from mailchimp. This will clear all list/group data for all mailchimp lists inside CRM and reload the subscription data from mailchimp.

%p
  = button_to "Clear all mailchimp data in CRM", { action: "clear_crm_mailchimp_data" }, method: 'put', data: { confirm: "Are you sure you wish to delete all Mailchimp List data that is stored inside CRM?" }
  Clearing all mailchimp data is useful if you want to clean out the CRM of mailchimp data
  but leave the mailchimp_list custom fields intact.

%p
  = button_to "Clear all settings and data", { action: "destroy_custom_fields" }, method: 'put', data: { confirm: "Are you sure you wish to destroy all Mailchimp List custom fields and associated data?" }
  Destroy all 'Mailchimp List' custom fields and associated data from mailchimp.
  NOTE: this is INCREDIBLY DESTRUCTIVE and should only be used if you want to
  hard reset your CRM instance back to a state before this plugin was installed.
