.title
  = t(:ffcrm_mailchimp_settings, default: "Mailchimp Integration Settings")

.remote
  .section

    = form_tag 'ffcrm_mailchimp', method: 'put' do

      %p

      Please enter the API key from your mailchimp account.
      %br/
      .label.top.req
        Api key:
        = text_field_tag 'api_key', @config.api_key, size: 30, required: true

      %br
      .label.top.req
        Default user:
        - user_options = options_from_collection_for_select(all_users, 'id', 'full_name', @config.user_id)
        = select_tag('user_id', options_for_select(user_options), :class => 'chzn-select', :style => "width:160px")
      %br
        This is the default user for actions that occur via webhooks.
        Not all webhooks provide 'user' information, in those cases, this user will own the operation.
        It is recommended you create a Fat Free CRM user purely for this purpose.

      %br
      = check_box_tag('iron_mq', 'true', !@config.iron_mq.nil?)
      %label.label.top{ for: 'iron_mq' }
        Use Iron MQ for inbound requests?

      %p
      = submit_tag 'Save', name: 'update', style: "width:60px"


%p
  Add the following URL to each list webhook in Mailchimp that you want to keep in sync:
  - url = "#{root_url}endpoints/mailchimp_endpoint"
  = link_to url, url
